{% extends 'base.html' %}

{% block title %}sound_detail{% endblock %}

{% block content %}
    <div class="col-md-12 card">
        <div class="card-header" data-background-color="green">
            <h1 class="center-block title" style="padding:15px;">{{ sound.name }}</h1>
            <p class="category" style="padding:10px;">Description: {{ sound.description }}</p>
        </div>

        <div class="card" style="padding:15px;">
            <div class="card-content">
                <h3 class="card-header" data-background-color="red">HRTF SOUND</h3>

                <div id="sound_3d" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                <audio id="player" class="card" src="{{ sound.src.url }}" loop="loop" controls="controls">
                    Your browser does not support the audio element. Sorry.
                </audio>
            </div>

            <div class="card card-stats" style="padding:15px;">
                <h3 class="card-header">HRTF Sound Controller</h3>
                <div class="card-content">
                    <div class="col-sm-3">
                        <h4 class="col-md-4">Speed</h4>
                        <button type="button" class="btn btn-warning col-md-3" id="speedDown">
                            <i class="material-icons">fast_rewind</i>
                        </button>
                        <button type="button" class="btn btn-warning col-md-3" id="speedUp">
                            <i class="material-icons">fast_forward</i>
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="col-md-4">Pattern</h4>
                        <button type="button" class="btn col-md-7 btn-success" id="pattern">
                            <i class="material-icons col-md-2">repeat</i>
                            <div id="curParttern" class="col-sm-1">1</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="padding:15px;">
            <h3 class="card-header" data-background-color="blue">NORMAL SOUND</h3>
            <audio class="card" src="{{ sound.src.url }}" loop="loop" controls="controls">
                Your browser does not support the audio element. Sorry.
            </audio>
        </div>

        <div class="card" style="padding:15px;">
            <h3 class="card-header" data-background-color="purple">Primary SOUND</h3>
            <audio class="card" src="{{ sound.src.url }}" loop="loop" controls="controls">
                Your browser does not support the audio element. Sorry.
            </audio>
        </div>

        <div class="card" style="padding:15px;">
            <h3 class="card-header" data-background-color="green">Ambient SOUND</h3>
            <audio class="card" src="{{ sound.src.url }}" loop="loop" controls="controls">
                Your browser does not support the audio element. Sorry.
            </audio>
        </div>

        <div class="card" style="padding:15px;">
            <h3 class="card-header" data-background-color="black">Cut Frequency SOUND</h3>
            <audio class="card" src="{{ sound.src.url }}" loop="loop" controls="controls">
                Your browser does not support the audio element. Sorry.
            </audio>
        </div>

    </div>
    <div style="padding-bottom:100px;">

    </div>
{% endblock %}

{% block javacript %}
    <script>
        var cur = 1;
        $(function () {
            $("#pattern").click(function () {
                cur = (cur + 1) % 3;
                alert("pattern " + cur);
                $("#curParttern").html(cur);
            });
        });
        var x_temp, y_temp, z_temp, t_temp;

    </script>

    <script>
        $(document).ready(function () {
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            var chart;
            $('#sound_3d').highcharts({
                chart: {
                    type: 'spline',
                    animation: Highcharts.svg, // don't animate in old IE
                    marginRight: 10,
                    events: {
                        load: function () {

                            // set up the updating of the chart each second
                            var series = this.series[0];
                            var series2 = this.series[1];
                            var series3 = this.series[2];
                            // double buffering problem
                            setInterval(function () {
                                var _x = (new Date()).getTime(), // current time
                                    x = x_temp;
                                var y = y_temp;
                                var z = z_temp;
                                series.addPoint([_x, x], false, true);
                                series2.addPoint([_x, y], true, true);
                                series3.addPoint([_x, z], true, true);
                            }, 1000);
                        }
                    }
                },
                title: {
                    text: 'Live random data'
                },
                xAxis: {
                    title: {
                        text: 'Time(seconds)'
                    },
                    type: 'datetime',
                    tickPixelInterval: 150
                },
                yAxis: [{
                    title: {
                        text: 'Value'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                }],
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                            Highcharts.numberFormat(this.y, 2);
                    }
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [{
                    name: 'X',
                    data: (function () {
                        // generate an array of random data
                        var data = [],
                            time = (new Date()).getTime(),
                            i;

                        for (i = -30; i <= 0; i++) {
                            data.push({
                                x: time + i * 1000,
                                y: 0
                            });
                        }
                        return data;
                    })()
                },
                    {
                        name: 'Y',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -30; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 0
                                });
                            }
                            return data;
                        })()
                    },
                    {
                        name: 'Z',
                        data: (function () {
                            // generate an array of random data
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = -30; i <= 0; i++) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 0
                                });
                            }
                            return data;
                        })()
                    }]
            });
        });


    </script>

    <script>
        $(document).ready(function () {

                var panner;
                var pattern = 1, speed = 0.05;
                var t = 0;
                var x, y, z;

                init();
                initAudio();
                animate();

                function animate() {
                    update();
                }

                function init() {
                    document.getElementById("speedUp").addEventListener("click", speedUp);
                    document.getElementById("speedDown").addEventListener("click", speedDown);
                    document.getElementById("pattern").addEventListener("click", modifyPattern);
                }


                function initAudio() {
                    // initialize Audio Context
                    try {
                        var audioContext = new (window.AudioContext || window.webkitAudioContext)();
                    }
                    catch (e) {
                        alert("Web Audio API is not supported in this browser");
                    }

                    // load hrir to the container
                    var hrtfContainer = new HRTFContainer();
                    hrtfContainer.loadHrir("../../static/hrir/kemar_L.bin");

                    // create audio source node from the <audio> element
                    var sourceNode = audioContext.createMediaElementSource(document.getElementById("player"));
                    var gain = audioContext.createGain();
                    gain.gain.value = 0.6;
                    sourceNode.connect(gain);

                    // create new hrtf panner, source node gets connected automatically
                    panner = new HRTFPanner(audioContext, gain, hrtfContainer);

                    // connect the panner to the destination node
                    panner.connect(audioContext.destination);
                    setInterval(updatePanner, 50);
                    sourceNode.play();
                }


                function update() {
                    animateSource();
                }

                function updatePanner() {

                    switch (pattern) {
                        case 0:
                            x = Math.sin(t) * Math.cos(t);
                            y = Math.cos(t) * Math.cos(t);
                            z = Math.sin(t);
                            break;
                        case 1:
                            x = Math.cos(t);
                            y = 0;
                            z = Math.sin(t);
                            break;
                        case 2:
                            x = 1;
                            y = Math.cos(t);
                            z = Math.sin(t);
                            break;
                    }

                    var cords = cartesianToInteraural(x, y, z);
                    panner.update(cords.azm, cords.elv);

                    t += speed;
                    x_temp = x;
                    y_temp = y;
                    z_temp = z;
                }

                function speedUp() {
                    var temp = speed;
                    speed += 0.03;
                    if (speed > 0.14) {
                        speed = temp;
                    }
                }

                function speedDown() {
                    var temp = speed;
                    speed -= 0.03;
                    if (speed <= -0.14) {
                        speed = temp;
                    }
                }

                function modifyPattern() {
                    pattern = (pattern + 1) % 3;
                }
            }
        );
    </script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}