{% extends 'base.html' %}

{% block title %}sound_list{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h1 class="center-block text-center">Music List</h1>
        </div>
        <div class="card-content card">
            {% for sound in sounds %}
                <div class="card-content">
                        <a href="{% url 'user_sound:detail' pk=sound.id %}"><h2>{{ sound.name }}</h2></a>
                        {% if user.is_staff %}
                            <button type="button" onclick="location.href = '{% url 'user_sound:delete' pk=sound.id %}'"
                                    class="btn btn-info btn-round">
                                DEL
                            </button>
                        {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% if user.is_staff %}
                <button type="button" onclick="location.href = '{% url 'user_sound:new' %}'"
                        class="btn btn-warning">
                    ADD
                </button>
            {% endif %}
        </div>
    </div>

{% endblock %}