{% extends 'base.html' %}

{% block title %}sound_list{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header" data-background-color="blue">
            <h1 class="center-block text-center">Music List</h1>
            <br/>
            {% if user.is_staff %}
                <a href="{% url 'user_sound:new' %}">ADD</a>
            {% endif %}
        </div>
        <div class="card-content">
            {% for sound in sounds %}
                <a href="{% url 'user_sound:detail' pk=sound.id %}"><h3>{{ sound.name }}</h3></a>
                {% if user.is_staff %}
                    <a href="{% url 'user_sound:delete' pk=sound.id %}"><h4>DEL</h4></a>
                {% endif %}
                <br/>
            {% endfor %}
        </div>
    </div>

{% endblock %}