<nav class="navbar navbar-info navbar-color-on-scroll navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">3D SOUND LAB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MENU
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'user_sound:list' %}">3d 음악 리스트</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>

            <!-- account settings -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_active %}
                    <li>
                        <a href="{% url 'password_change' %}">
                            <i class="material-icons">build</i>Change Password
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="material-icons">delete_forever</i>Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}" class="navbar-login">
                            <i class="material-icons">person</i>Login
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">
                            <i class="material-icons">account_circle</i> Register
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
