{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

    <h1 class="text-center" style="padding:15px;">3D sound VS NORMAL</h1>
    <!-- TODO : add project description-->
    <script>
        var cur = 1;
        $(function () {
            $("#pattern").click(function () {
                cur = (cur + 1) % 3;
                alert("pattern " + cur);
                $("#curParttern").html(cur);
            });

        });

    </script>
{% endblock content %}

<!--
https://material.io/icons/
-->